<div class="sign" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('/assets/banner.jpeg')">
<div class="container">
  <div class="white">
    <h2>Bienvenue sur Invia</h2>


    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <%= f.input :email,
                    placeholder: "Email",
                    required: true,
                    autofocus: true,
                    label: false,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: false,
                    placeholder: "Mot de passe",
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: "Confirmation mot de passe",
                    input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Enregistrer", class: "ctaButton"%>

    </div>
    <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
