<div class="container">
  <div class="row">
    <div class="header-study">
      <h4>Choisis le métier qui te plaît</h4>
    </div>
  </div>

  <div class="container">
    <div class="responsive">
      <% @jobs.each do |job| %>
        <div class="item">
          <div class="card-vertical">
            <% profile_saved_info = ProfileSavedInfo.where(user: current_user,job: job)%>
            <% if  ProfileSavedInfo.where(user: current_user,job: job).empty? %>
              <%= form_for([job, ProfileSavedInfo.new]) do |form| %>
                <%= button_tag type: 'submit' do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to profile_saved_info_path(profile_saved_info.ids), class:"new_profile_saved_info", method: :delete do%>
                <i class="fas fa-heart "> </i>
              <% end %>
            <% end %>
            <div class="img-vertical" style="background-image: url('<%= job.url %>')"></div>
            <div class="container-title-text">
              <div class="card-vertical-category"> <h4><%= job.name %></h4> </div>
              <div class="card-vertical-description"> <p><%= job.description %></p> </div>
            </div>
            <!-- Bouton pour lancer la modal -->
            <div class="buttoncenter"> <%=link_to "En savoir plus...", modal_path(job.id), method: :post, class: 'ensavoirplus underlined', remote: true %>
            </div>
            <!-- Fin du bouton pour lancer la modal -->
          </div>
          <div class="buttoncentercenter"><%= link_to "Les formations", job_studies_path(job), class: "ctaButton" %></div>
        </div>

      <% end %>
    </div>
  </div>

</div>


<button id="job-modal-trigger" type="hidden" href="#ModalLong" data-toggle="modal" ></button>
<%= render 'shared/modal_for_jobs' %>






<!-- <html>
<head>
<title>Save</title>
<script language="javascript" type="text/javascript">

function save()
{
val = document.myform.text_area.value;
mydoc = document.open();
mydoc.write(val);
mydoc.execCommand("saveAs",true,".txt"); //you can change the .txt to your extention
history.go(-1);
}

</script>
</head>
</body>
<form name="myform">
<input type="button" onClick="save();" value="Save">
<br>
<textarea name="text_area" id="text_area_id" rows="14" cols="40"></textarea>
</form>
</body>
</html> -->

