
<div class="titles"> <h1>Choisis le métier qui te plaît</h1>
<h2>Voici les propositions de métiers qui correspondent à tes passions !</h2></div>

<%= render "shared/form-jobs" %>

<div class="container-cards">
  <div class="row">
    <% @jobs.each do |job| %>

      <div class="col-xs-12 col-sm-4">
          <a class="heart" href="#"> <i class="far fa-heart"></i> </a>
        <div class="card-vertical">
          <div class="img-vertical" style="background-image: url('<%= job.url %>')"></div>
          <div class="card-vertical-category"> <h2><%= job.name %></h2> </div>

          <div class="card-vertical-description">
            <p><%= job.description %></p>
          </div>
          <!-- Bouton pour lancer la modal -->
          <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#ModalLong<%= job.id %>" data-toggle="modal" >En savoir plus...</a></div>
          <!-- Modal -->
          <div class="modal fade" id="ModalLong<%= job.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="popup-titre"> <h2><%= job.name %></h2></div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="popup-image" style="background-image: url('<%= job.url %>')"></div>
                  <div class="popup-description">
                    <%= job.description %>
                  </div>
                  <%= link_to "Développe ton réseau", job_professionals_path(job), class: "ctaButton" %>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin de la modal -->
          <%= link_to "Les formations", job_studies_path(job), class: "ctaButton" %>
        </div>
      </div>
    <% end %>
    <div class="arrow" >  <a href=""></a> <i class="fas fa-angle-double-right"></i> </div>
  </div>
</div>
