  <% @studies.each do |study| %>
    <div class="modal fade" id="ModalLong<%= study.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="popup-titre"> <h2><%= study.name %></h2></div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% study.diplomas.each do |diploma| %>
              <div class="popup-description">
                <h2> <%= diploma.name  %></h3>
                <div class="details">
                  <% diploma.difficulty.to_i.times do  %>
                  <i class="fas fa-star"></i>
                  <% end %>
                </div>
                <h3><%= diploma.length %></h3>
                <p> <%= diploma.description %> </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
