<div class="container">
  <div class="row">
    <div class= "header">
      <h2>Tu as selectionné le parcours <%= @study.name %>.</h2>
      <h3>Voici les écoles que tu as sauvegardées pour ce parcours.</h3>
    </div>
  </div>


  <div class="container-cards-dashboard">
    <% @study.diplomas.each do |diploma| %>
      <div class="flip">
        <div class="front">
          <%= diploma.name %> :
          <ul>
            <% ProfileSavedInfo.where(user_id: current_user[:id], study_id: params[:id], diploma_id: diploma.id, ).each do |instance| %>
              <li><%= School.find(instance.school_id).name %></li>
            <% end %>
          </ul>
        </div>
        <div class="back">


            <% markers = diploma.schools.map do |school|

              {
                lat: school.latitude,
                lng: school.longitude,

                infoWindow: { content: raw(render(partial: "/studies/map_box", locals: { school: school, diploma: diploma })) }
              } %>
            <% end %>

              <!-- MAP  -->

              <div id= "map<%= diploma.id %>" class="map-dashboard" data-markers="<%= markers.to_json %>"></div>




        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="row extended">
<!-- SCHOOL BUTTONS & MARKERS  -->
  <div class="col-md-3 col-lg-3">
    <div class="formations">

    </div>
  </div>
</div>

<!-- Hidden button to trigger show schools  -->
<button type="button" class="hidden" id="sd_button" data-toggle="modal" data-target="#school_details"></button>

<!-- VOIR DETAILS ECOLE  -->
<!-- Modal partial   -->
<div id="school_details" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-photo"></div>
      <div class="modal-header">
        <h3></h3>
        <h4></h4>
        <h5></h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>




