<div class="container">
  <div class="row">
    <div class= "header">
      <h2>Tes élements sauvegardés</h2>
      <h3>Clique sur tes métiers et retrouve tes parcours sauvegardés</h3>
    </div>
  </div>

<div class="container-cards-dashboard">
  <% @jobs.each do |job|%>



      <div class="flip">
        <div class="front" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('<%= job.url %>')">

          <h1 class="text-shadow"><%= job.name %></h1>
        </div>
        <div class="back">
          <% profiles_dashboard = ProfileSavedInfo.where(user_id: current_user, job_id: job.id) %>
          <%= link_to profile_saved_info_path(profiles_dashboard.ids), class:"new_profile_saved_info", method: :delete do%>
            <i class="far fa-times-circle"></i>
          <% end %>
          <% if profiles_dashboard.all? {|profile| profile.school_id.nil? } %>
            <p><%= link_to "Va choisir des ecoles dans le parcours", job_studies_path(job) %></p>

          <% else %>

            <% profiles_dashboard2 = profiles_dashboard.uniq {|profile| profile.study_id} %>
            <% profiles_dashboard2.each do |profile| %>
              <ul>
                <% if !profile.study_id.nil? %>
                  <li> <%= link_to "#{Study.find(profile.study_id).name}", dashboard_study_path(job,Study.find(profile.study_id)) %> </li>
                <% end %>
              </ul>
            <% end %>


          <% end %>
        </div>
      </div>
    <% end %>
  </div>


</div>

