document.querySelector(".parcours-<%=@diploma_id%>-schools").insertAdjacentHTML("afterbegin", '<div class="added-<%=@diploma_id%>-<%=@school.id%>"><%=link_to @school.name, remove_path(@school.id, @diploma_id), method: :post, class: "added-element fas fa-times", remote: true %></div>');
console.dir(document.getElementById('choice-<%=@diploma_id%>-<%=@school.id%>').lastElementChild);
document.getElementById('choice-<%=@diploma_id%>-<%=@school.id%>').lastElementChild.classList.add('disabled')
