console.log("Apparition de la modale");
console.log("<%@diploma_id%>")


function updateDetails() {
let maModal = document.getElementById("school_details");
//Ajout sur la modal descriptive
console.log(maModal.querySelector('.modal-photo'))
maModal.querySelector('.modal-photo').style.backgroundImage = "url('<%=@school.url%>')";
maModal.querySelector('.modal-photo').classList.add('photo-school');
maModal.querySelector('.modal-header h3').innerText = "<%=@school.name%>";
maModal.querySelector('.modal-header h4').innerText = "<%=@school.address%>";
//maModal.querySelector('.modal-header h5').innerText = "<%=@school.difficulty%><%=@school.cost%>";
maModal.querySelector('.modal-body').innerText = "<%=@school.description%><%=@school.web_site%>";
maModal.querySelector('.modal-footer').innerHTML = "";
maModal.querySelector('.modal-footer').insertAdjacentHTML('afterbegin', '<button type="button" class="save_button btn_add" data-dismiss="modal" data-id="<%=@school.id%>" data-name="<%=@school.name%>" data-diploma ="<%=@diploma_id%>">Ajouter cet établissement</button>');

let add_button = document.querySelector('.btn_add');
  console.log(add_button);
  add_button.addEventListener('click', (event) => {
      const choices = document.querySelector(".parcours-<%=@diploma_id%>-schools");
        choices.insertAdjacentHTML("afterbegin", '<a class="school_details added-element" data-school_id=<%=@school.id%> ><%=@school.name%></a>');
      // const choices = document.querySelectorAll(".parcours-<%=@diploma_id%>-schools")
        choices.insertAdjacentHTML("afterbegin", '<input type="hidden" name="studies[]diploma" value="<%=@diploma_id%>" /> <input type="hidden" name="studies[]school" value="<%=@school.id%>" />');


      const addedElement = document.querySelector('.added-element')
      addedElement.addEventListener('click', (event) => {
        maModal.querySelector('.modal-footer').innerHTML = "";
        maModal.querySelector('.modal-footer').insertAdjacentHTML('afterbegin', '<button type="button" class="save_button btn_remove" data-dismiss="modal" data-id="<%=@school.id%>" data-name="<%=@school.name%>" data-diploma ="<%=@diploma_id%>">Retirer cet établissement</button>');
        document.getElementById("sd_button").click();

            const buttonRemove = document.querySelector('.btn_remove')
            buttonRemove.addEventListener('click', (event) => {
              addedElement.remove();
            });
        });
  });


document.getElementById("sd_button").click();

}

updateDetails();





