<div class="titles"> <h1>Choisis le parcours qui te plaît</h1>

<h2>Voici les propositions de parcours pour devenir <%= @job.name %> !</h2></div>

<div class="container">
  <div class="responsive">
    <% @studies.each do |study| %>
      <div class="item">
        <div class="card-vertical">
          <%= form_for([@job, study,  ProfileSavedInfo.new]) do |form| %>
            <%= button_tag type: 'submit' do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <div class="img-vertical" style="background-image: url(/assets/datascientist.jpeg)"></div>
          <div class="container-title-text">
            <div class="card-vertical-category"> <h2><%= study.name %></h2> </div>
              <h3> 3 années </h3>
            <div class="card-vertical-description">
              <% study.diplomas.each do |diploma| %>
                <p><%= diploma.description %></p>
              <% end %>
            </div>
          </div>
          <!-- Bouton pour lancer la modal -->
          <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#ModalLong<%= study.id %>" data-toggle="modal" >En savoir plus...</a></div>
          <!-- Fin du bouton pour lancer la modal -->
          <%= link_to "Les établissements", job_study_path(@job,study), class: "ctaButton" %>
        </div>
      </div>
    <% end %>
    <div class="arrow" >  <a href=""></a> <i class="fas fa-angle-double-right"></i> </div>
  </div>
</div>

<!-- Modal -->
<% @studies.each do |study| %>
  <div class="modal fade" id="ModalLong<%= study.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="popup-titre"> <h2><%= study.name %></h2></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="popup-image" style="background-image: url(/assets/datascientist.jpeg)"></div>
          <% study.diplomas.each do |diploma| %>
            <div class="popup-description">
              <h2> <%= diploma.name  %></h3>
              <div class="details">
                <% diploma.difficulty.to_i.times do  %>
                <i class="fas fa-star"></i>
                <% end %>
              </div>
              <h3><%= diploma.length %></h3>
              <p> <%= diploma.description %> </p> </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Fin de la modal -->
