<div class="titles"> <h1>Choisis le parcours qui te plaît</h1>
<h2>Voici les propositions de parcours pour devenir <%= @job.name %> !</h2></div>


<div class="container-cards">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-vertical">
        <div class="heart"> <i class="far fa-heart"></i> </div>
        <img class="img-vertical" src="assets/edhec.jpeg">
        <div class="card-vertical-category"> <h2>PREPA + ECOLE</h2> </div>

          <div class="card-vertical-description">
            <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves  </p>
          </div>

        <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#">En savoir plus...</a> </div>
        <div class="buttoncenter down"> <a  class="ctaButton" href="#" title="Les formations">Les établisements</a> </div>
        <%= link_to "Les établissements", job_study_path(1,1), class: "ctaButton" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
       <div class="card-vertical">
        <div class="heart"><i class="far fa-heart"></i></div>
        <img class="img-vertical" src="assets/edhec.jpeg">
        <div class="card-vertical-category"> <h2>ECOLE POST BAC</h2> </div>

          <div class="card-vertical-description">
            <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves  </p>
          </div>

        <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#">En savoir plus...</a> </div>
        <div class="buttoncenter down"> <a  class="ctaButton" href="#" title="Les formations">Les établisements</a> </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
       <div class="card-vertical">
        <div class="heart"><i class="far fa-heart"></i></div>
        <img class="img-vertical" src="assets/edhec.jpeg">
        <div class="card-vertical-category"> <h2>UNIVERSITE</h2> </div>

          <div class="card-vertical-description">
            <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves  </p>
          </div>

        <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#">En savoir plus...</a> </div>
        <div class="buttoncenter down"> <a  class="ctaButton" href="#" title="Les formations">Les établissements</a> </div>
      </div>
    </div>
  </div>

  <div class="arrow" >  <a href=""></a> <i class="fas fa-angle-double-right"></i> </div>

</div>




<div class="container">
  <div class="responsive">
    <% @studies.each do |study| %>
      <div class="item">
        <div class="card-vertical">
          <i class="far fa-heart heart"></i>
          <div class="img-vertical" style="background-image: url('<%= study.url %>')"></div>
          <div class="container-title-text">
            <div class="card-vertical-category"> <h2><%= study.name %></h2> </div>
            <div class="card-vertical-description"> <p><%= study.description %></p> </div>
          </div>
          <!-- Bouton pour lancer la modal -->
          <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#ModalLong<%= study.id %>" data-toggle="modal" >En savoir plus...</a></div>
          <!-- Fin du bouton pour lancer la modal -->
          <%= link_to "Les établissements", job_study_path(@job,study), class: "ctaButton" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<% @studies.each do |study| %>
  <div class="modal fade" id="ModalLong<%= study.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="popup-titre"> <h2><%= study.name %></h2></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="popup-image" style="background-image: url(<%= study.url %>)"></div>
          <div class="popup-description"> <%= study.description %> </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Fin de la modal -->
