<div class="container">

<button type="button" class="go_back_Button">Retour</button>


    <div class= "header">
      <div class="title"> Choisis les établissement qui te plaisent</div>
      <div class="description">Ce parcours se déroule en <%= @study.diplomas.length%> étapes, choisis tes établissements pour chaque formation ! </div>

    </div>
    <div class="formation-map">
      <div class="formations">
        <%@study.diplomas.each do |diploma|%>
        <% markers = diploma.schools.map do |school|
            {
              lat: school.latitude,
              lng: school.longitude,
              infoWindow: { content: raw(render(partial: "/studies/map_box", locals: { school: school })) }
            } %>
          <% end %>
          <div class="formation">
            <div class= "choisis" > Choisis tes <%=diploma.name.capitalize%>s </div>
            <h3 class="formation-description">Les établissements que tu vas sélectionner</h3>
          </div>
            <button class="ctaButton show_schools" data-markers="<%= markers.to_json %>">Afficher sur le plan</button>
        <% end %>


        <!-- Button trigger modal -->
        <button type="button" class="ctaButton" data-toggle="modal" data-target="#show_study">
          Voir mon parcours
        </button>
                <!-- Modal -->
        <div class="modal fade" id="show_study" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="title" id="exampleModalLongTitle">Mon parcours pour devenir <%=@job.name%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <%@study.diplomas.each do |diploma|%>
                <div class="title">Ma liste des <%=diploma.name%>s sauvegardées</div>
                <div class="modal-body">

                </div>
              <% end %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sauvegarder mon parcours</button>
                <button type="button" class="btn btn-primary">Découvrir d'autres parcours</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="map" class="map" >
      </div>
    </div>
    <div class="inputs">
        <input id="school_address"type="text" placeholder="Ville">
        <input type="text" placeholder="Selectivité">
        <input type="text" placeholder="Coût de la formation">
      </div>
</div>
