<div class="container">

<%= link_to "Retour", job_studies_path(@job), class: "go_back_Button" %>

<div class="row">
    <div class= "header">
      <h2>Choisis les établissements qui te plaisent</h2>
      <h3>Ce parcours se déroule en <%= @study.diplomas.length%> étapes, choisis tes établissements pour chaque formation !</h3>

    </div>
  </div>

<div class="row-extended">
  <div class="inputs-place">
    <%= render "shared/form-schools" %>
  </div>
</div>

  <div class="row-extended">

 <!-- MAP  -->
    <div class="col-md-4 col-lg-4 map-container">
      <div id="map" class="map" ></div>
    </div>
 <!-- SCHOOL BUTTONS & MARKERS  -->
      <div class="col-md-4 col-lg-4">
        <div class="formations">
        <%@study.diplomas.each do |diploma|%>
          <% markers = @schools[diploma.id].map do |school|
            {
              lat: school.latitude,
              lng: school.longitude,
              infoWindow: { content: raw(render(partial: "/studies/map_box", locals: { school: school, diploma: diploma })) }
            } %>
          <% end %>
          <div class="formation">
            <div class="diplomaButtons show_schools" data-markers="<%= markers.to_json %>" data-diploma="<%=diploma%>">Choisis tes <%=diploma.name.capitalize%>s</div>
            <ul id="school_list_<%=diploma.name%>" class="list-group list-group-flush">
            <%@schools[diploma.id].each_with_index do |school, index| %>
               <li class="list-group-item" data-marker="<%=markers[index].to_json%>"><%=school.name%></li>
            <% end %>
            </ul>
          </div>
          <i class="fas fa-angle-double-down"></i>
        <% end %>
        <div>


           <%= form_for([@job, @study, ProfileSavedInfo.new]) do |form| %>
              <%= button_tag "Sauvegarder mon parcours", type: 'submit', class: "save_button", id: "save_button" %>
           <% end %>

        </div>
      </div>
    </div>

 <!-- MON PARCOURS  -->
      <div class="col-md-1 col-lg-1 arrow">
        <div><i class="fas fa-angle-right"></i></div>
      </div>

      <div class="col-md-3 col-lg-3 flex">
        <div class="parcours">
          <%@study.diplomas.each do |diploma|%>
          <div class="parcours-diplomas">Mes <%=diploma.name%>s</div>
            <div class="parcours-<%=diploma.id%>-schools" style="diplay:flex;"></div>
          <% end %>
        </div>
      </div>

  </div>

           <!-- Hidden button to trigger show schools  -->
      <button type="button" class="hidden" id="sd_button" data-toggle="modal" data-target="#school_details">
      </button>

</div>

 <!-- VOIR DETAILS ECOLE  -->
        <!-- Modal partial   -->
      <div id="school_details" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <div class="modal-photo"></div>
            <div class="modal-header">
              <h3></h3>
              <h4></h4>
              <h5></h5>
            </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
              </div>
          </div>
        </div>
      </div>

 <!-- A faire   les pages erreurs, ajout sur le mon parcours, lier le nom de la liste au marker (bounce), flèche ordre, filtres
  -->
