
<div class="conteneur">
<i class="fas fa-angle-double-left"></i><%= link_to "Retour aux parcours", job_studies_path(@job), class: "back" %>

<div class="extended">
    <div class= "header">
      <h3>Ajoute tes établissements pour les <%=@study.diplomas.size%> étapes de ce parcours</h3>
    </div>
</div>

<div class="extended">
  <div class="inputs-place">
    <%= render "shared/form-schools" %>
  </div>
</div>

  <div class="extended formation-map-parcours">

 <!-- MAP  -->
    <div class="col-md-4 col-lg-4 map-container">
      <div id="map" class="map" ></div>
    </div>
 <!-- SCHOOL BUTTONS & MARKERS  -->
      <div class="col-md-4 col-lg-4">
        <div class="formations">
          <h4>Ajoute des établissements à ton parcours </h4>
        <%@study.diplomas.each_with_index do |diploma, i|%>
          <% markers = @schools[diploma.id].map do |school|
            {
              lat: school.latitude,
              lng: school.longitude,
              infoWindow: { content: raw(render(partial: "/studies/map_box", locals: { school: school, diploma: diploma })) }
            } %>
          <% end %>
          <div class="formation">
            <div class="diplomaButtons show_schools" data-markers="<%= markers.to_json %>" data-diploma="<%=diploma%>"style="display: flex; align-items: center; ">
              <div style="width: 95%;"><%=diploma.name.capitalize%></div>
                <div><i class="fas fa-angle-down"></i></div>
              </div>
            <ul id="school_list_<%=diploma.name%>" class="list-group list-group-flush">
            <%@schools[diploma.id].each_with_index do |school, index| %>
               <li>
                <div id="choice-<%=diploma.id%>-<%=school.id%>" class="list-group-item" style="display: flex;" data-marker="<%=markers[index].to_json%>">
                  <div style="width: 80%;"><%=school.name%></div>
                   <div style="display: flex; justify-content: flex-end; width: 20%;">
                      <%=link_to "", details_path(school.id, diploma.id), method: :post, class: 'fas fa-question', remote: true %>
                      <%=link_to "", add_path(school.id, diploma.id), method: :post, class: 'fas fa-plus', remote: true %>
                   </div>
                  </div>
               </li>

            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
 <!-- MON PARCOURS  -->
<!--       <div class="arrow"><i class="fas fa-angle-right"></i></div>
 -->
      <div class="col-md-4 col-lg-4">
        <div class="parcours">
          <h4>Mon parcours</h4>

          <%= form_for([@job, @study, ProfileSavedInfo.new]) do |form| %>
            <%@study.diplomas.each do |diploma|%>
              <div class="parcours-diplomas"><%=diploma.name%></div>
              <div class="parcours-<%=diploma.id%>-schools" style="diplay:flex, height: auto;"></div>
            <% end %>
            <%= button_tag "Sauvegarder mon parcours", type: 'submit', class: "save_button", id: "save_button" %>
          <% end %>
        </div>
      </div>
  </div>



           <!-- Hidden button to trigger show schools  -->
      <button type="button" class="hidden" id="sd_button" data-toggle="modal" data-target="#school_details">
      </button>


 <!-- VOIR DETAILS ECOLE  -->
        <!-- Modal partial   -->
      <div id="school_details" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <div class="modal-photo"></div>
            <div class="modal-header">
              <h3></h3>
              <h4></h4>
              <h5></h5>
            </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
              </div>
          </div>
        </div>
      </div>

</div>
