<div class="container">

<div class="row">
      <button type="button" class="back"><< Retour aux parcours</button>
    <div class= "header">
        <%#= link_to "Découvrir d'autres parcours", study_path, class: "btn btn-primary" %>
      <div class="show_title">Choisis les établissement qui te plaisent</div>
      <div class="description">Ce parcours se déroule en <%= @study.diplomas.length%> étapes, choisis tes établissements pour chaque formation ! </div>

        <div class="inputs">
          <input id="school_address"type="text" placeholder="Ville">

          <form class="form-inline">
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
              <option selected>Coût</option>
              <option value="1">Gratuit</option>
              <option value="2">1€ - 1 000€</option>
              <option value="3">1 000€ - 10 000€</option>
              <option value="3">10 000€ - 50 000€</option>
            </select>
          </form>

          <form class="form-inline">
               <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Selectivité...</option>
                  <option value="1">Peu selectif</option>
                  <option value="2">Assez sélectif</option>
                  <option value="3">Très sélectif</option>
                </select>
            </form>

        </div>
      </div>
</div>

  <div class="row extended">

 <!-- SCHOOL BUTTONS & MARKERS  -->
      <div class="col-md-3 col-lg-3">
        <div class="formations">
        <%@study.diplomas.each do |diploma|%>
          <% markers = diploma.schools.map do |school|
            {
              lat: school.latitude,
              lng: school.longitude,
              diploma: diploma,
              infoWindow: { content: raw(render(partial: "/studies/map_box", locals: { school: school, diploma: diploma })) }
            } %>
          <% end %>
          <div class="formation">
            <div class="diplomaButtons show_schools" data-markers="<%= markers.to_json %>" data-diploma="<%=diploma%>">Choisis tes <%=diploma.name.capitalize%>s</div>
            <ul id="school_list_<%=diploma.name%>" class="list-group list-group-flush">
            <% diploma.schools.each_with_index do |school, index| %>
               <li class="list-group-item" data-marker="<%=markers[index].to_json%>"><%=school.name%></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

 <!-- MAP  -->
    <div class="col-md-6 col-lg-6 map-container">
      <div id="map" class="map" ></div>
    </div>


 <!-- MON PARCOURS  -->

      <div class="col-md-3 col-lg-3">
        <div class="parcours">
          <%@study.diplomas.each do |diploma|%>
          <div class="parcours-diplomas">Mes <%=diploma.name%>s</div>
            <div class="parcours-<%=diploma.id%>-schools" style="diplay:flex;"></div>
          <% end %>
          <div><button id="save_button" type="button" class="save_button" data-dismiss="modal">Sauvegarder mon parcours</button></div>

        </div>
      </div>

  </div>

           <!-- Hidden button to trigger show schools  -->
      <button type="button" class="hidden" id="sd_button" data-toggle="modal" data-target="#school_details">
      </button>

</div>

 <!-- VOIR DETAILS ECOLE  -->
        <!-- Modal partial   -->
      <div id="school_details" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <div class="modal-photo"></div>
            <div class="modal-header">
              <h3></h3>
              <h4></h4>
              <h5></h5>
            </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
              </div>
          </div>
        </div>
      </div>

 <!-- A faire   les pages erreurs, ajout sur le mon parcours, lier le nom de la liste au marker (bounce), flèche ordre, filtres
  -->

