<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Invia, trouve ta voie !</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="description" content="Trouvez un métier qui correspond à votre passion. Invia est la meilleure app pour composer son parcours d'orientation sur-mesure.">


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Invia, trouve ta voie !" />
    <meta property="og:description" content="Trouvez un métier qui correspond à votre passion. Invia est la meilleure app pour composer son parcours d'orientation sur-mesure.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.invia-edu.info" />
    <meta property="og:image" content="<%= image_path 'banner.png'%>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />


    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <% if user_signed_in? %>
        <%= render 'shared/navbar' unless current_page?('/')%>
        <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>

    <%= yield :modals %>
    <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
      <%= javascript_pack_tag "map" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
